body{
    text-align: center;
}
header{
    background: #ADDA90 url("http://www.clker.com/cliparts/N/d/2/R/F/r/phone-book-hi.png") no-repeat center;
    background-size: 150px 100px;
    margin: -5px 0px -20px 0px;
    padding: 0px 0px 135px 0px;
}
div{
    padding: 10px 0px 0px 0px;
}
form{
    background: #ADD8E6;
    border: 1px solid black;
    margin: 0px 640px 40px 640px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 10px 10px;
}
footer{
    background: #ADDA90;
    padding: 50px 0px 50px 0px;
}
