<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Contact</title>
    <link rel="stylesheet" href="/static/add_contact.css" type="text/css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <header>
        <h1>Telephone Directory</h1>
    </header>
    <div>
        <h1>Add Contact</h1>
        <form action="/add_contact" method="post">
            <p>Name: <input id="ip1" type="text" name="name"/></p>
            <p>Phone No: <input id="ip2" type="text" name="phone_no" required/></p>
            <p>Email: <input id="ip3" type="text" name="email"/></p>
            <p>Street: <input id="ip4" type="text" name="street"/></p>
            <p>City: <input id="ip5" type="text" name="city"/></p>
            <p>State: <input id="ip6" type="text" name="state"/></p>
            <p>Pin-code: <input id="ip7" type="number" name="pin_code"/></p>
            <p><input id="ip8" class="btn btn-primary" type="submit" value="Submit"/>
                <input id="ip9" class="btn btn-primary" type="reset" value="Reset"/>
            </p>
            {% if message %}
                <h4 style="color:red;">{{ message }}</h4>
            {% endif %}
        </form>
        <a class="btn btn-primary"  href="/contacts_home">Home</a>
    </div>
    <footer><h4>Copyrights@TeamYellow</h4></footer>
</body>
</html>