<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Contact</title>
    <link rel="stylesheet" href="/static/normalize.css"/>
    <link rel="stylesheet" href="/static/foundation.css"/>
    <link rel="stylesheet" href="/static/add_contact.css">
</head>
<body>
    <header>
        <h1>Telephone Directory</h1>
    </header>
    <div>
        <h1>Add Contact</h1>
        <form action="/add_contact" method="post">
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip1" class="right inline">Name:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip1" type="text" name="name" required/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip2" class="right inline">Phone No:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip2" type="text" name="phone_no" required/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip3" class="right inline">Email:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip3" type="text" name="email"/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip4" class="right inline">Street:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip4" type="text" name="street"/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip5" class="right inline">City:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip5" type="text" name="city"/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip6" class="right inline">State:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip6" type="text" name="state"/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <div class="row">
                <div class="small-3 columns">
                    <label for="ip7" class="right inline">Pin-code:</label>
                </div>
                <div class="small-7 columns">
                    <input id="ip7" type="number" name="pin_code"/>
                </div>
                <div class="small-2 columns"></div>
            </div>
            <p><input id="btn1" class="button small" type="submit" value="Submit"/>
                <input id="btn2" class="button small" type="reset" value="Reset"/>
            </p>
            {% if message %}
                <h4 style="color:red;">{{ message }}</h4>
            {% endif %}
        </form>
        <a class="button small" href="/">Home</a>
    </div>
    <footer><h4>Copyrights@TeamYellow</h4></footer>
</body>
</html>