<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Contacts by Provider</title>
    <link rel="stylesheet" href="/static/normalize.css"/>
    <link rel="stylesheet" href="/static/foundation.css"/>
    <link rel="stylesheet" href="/static/get_contacts_by_provider.css"/>
</head>
<body>
    <header>
        <h1>Telephone Directory</h1>
    </header>
    <div id="main_div">
        <h1>Get contacts by Provider</h1>
        <form action="/get_contacts_by_provider" method="post">
            <div class="row">
                <div class="small-3 columns"></div>
                <div class="small-6 columns">
                    <select name="provider">
                        <option value="" disabled="disabled" selected="selected">Select Provider</option>
                        <option value="Airtel">Airtel</option>
                        <option value="BSNL">BSNL</option>
                        <option value="Idea">Idea</option>
                        <option value="Reliance">Reliance</option>
                    </select>
                </div>
                <div class="small-3 columns"></div>
            </div>
            <input class="button small" type="submit" value="Submit"/>
        </form>
        <a class="button small" href="/">Home</a>
    </div>
    <footer><h4>Copyrights@TeamYellow</h4></footer>
</body>
</html>